:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  min-height: 100vh;
}

html, body, div, span, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  color: white;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
