header {
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    height: 72px;
    background-color: #212121;
    border-bottom: 1px solid #454545;
}

.signin-button{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #9147ff;
    border: 1px solid #bf94ff;
    border-radius: 0.5rem;
    color: white;
}

.signin-button:hover{
    cursor:pointer;
    background-color:#6f35c7;
}

.profile-container{
    margin-left:auto;
    padding: 0.1rem 2rem;
    align-items: center;
    display:flex;
}