.search-panel{
    padding: 0.5rem;
    vertical-align: middle;
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: 40rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-basis: 25rem;
}

.search-input{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #212121;
    height: 2.5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #959595;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #e1e1e1;
}

.search-icon-container{
    background-color: #505050;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0px 5px;
    height: 2.5rem;
    border: 1px solid #959595;
}

.search-icon-container:hover{
    cursor:pointer;
    background-color: #404040;
}

.search-icon-container:active{
    background-color: #303030;
}

.search-icon{
    width: 100%;
    height: 100%;
}