.artist-wrapper{
    padding: 3rem;
}

.artist-page-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artist-page-albums-wrapper{
    margin-top: 2rem;
}

.tracks-wrapper{
    margin-top: 3rem;
    margin-bottom: 100px;
}

.tracks-container{
    margin-top: 1rem;
    width: 80%
}

.albums-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artist-picture{
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.artist-name{
    margin-top: 1rem;
}