.search-wrapper{
    padding: 2rem;
}

.tracks-wrapper{
    margin-top: 3rem;
    margin-bottom: 100px;
}

.tracks-container{
    margin-top: 1rem;
    width: 80%
}

.albums-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-container{
    margin-top: 1rem;
    text-align: center;
}

.load-button{
    padding: 1rem;
    background-color: #9147ff;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: 0px;
}

.load-button:hover{
    background-color: #6521cc;
    cursor: pointer;
}